*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  background:linear-gradient(135deg,#4F46E5,#7C3AED,#06B6D4);
  min-height:100vh;
}

button{
  cursor:pointer;
  transition:.3s;
}

button:hover{
  transform:translateY(-2px);
}

input,
select{
  outline:none;
}